name: Scala CI
on:
  push:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Check formatting
        run: sbt scalafmtCheckAll

      - name: Run tests
        run:  sbt clean coverage test

      - name: Create Coverage Report
        run: sbt coverageAggregate

      - name: CodeCov
        run: bash <(curl -s https://codecov.io/bash) -t ${{ secrets.CODECOV_SECRET }}
